plan
*.terraform
*.tfstate.*
*.tfstate
terraform.key.json
setvars.sh
_output/
transactions/

mattermost/helm/values-mattermost.yaml
mattermost/mattermost.yaml
mattermost/mattermost-ingress.yaml

terraform/secret

cert/cluster-issuer.yaml

logging/fluent-bit-cm.yaml

aks-engine/kubernetes.json
